
{% extends "base.html" %}
{% load static %}
{% block sty %}
input[type=button], input[type=submit], input[type=reset] {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 22px;
  text-decoration: none;
  margin: 12px 15px;
  cursor: pointer;
}
{% endblock %}
{% block tit %}
Welcome to Visit Roy Home Page!
{% endblock %}


{%block content%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
 <form action=" " method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form_group">
        <div class="col-sm-offset-2 col-sm-10">
          <span class="text-danger small">{{field.errors}}</span>
        </div>
       <label class="control-label col-sm-2">
         {{field.label_tag}}
       </label>
       <div class="col-sm-10"> {{field}}</div>
     
      </div>
    {% endfor %}

    <input type="submit" name="Submit" value="submit">
    
  </form>



<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}