{% extends 'base.html' %}
{% load static %}

{% block tit %}
Welcome to Visit Roy Home Page!
{% endblock %}



{%block content%}

 
   <div class='row'>
                <div class="card" class="col-md-6 text-right">
                    <div class="card-body">
                        <div >
                            <image src="/media/{{product.pic}}" class="d-block w-100" width=336 height=420 alt="..."></image>
                
                        
                            {{ product.p_name}}
                       
                            <p class="text-muted">Price {{ product.price }}</p>
                            </div> 
                             
                            
                  
                 
                </div>

              </div>
             

              <div class="col-md-6" style="padding-right: : 20px">
                <div>{{ product.description|safe|linebreaksbr }}</div><br>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                {% for field in cart_product_form %}
                                <div class="form_group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <span class="text-danger small">{{field.errors}}</span>
                                        </div>
                                         
                                              {{field.label_tag}}
                                         
                                               {{field}}
     
                                      
                                     {% endfor %}

                                      
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <span class="text-danger small"></span>
                                        </div>
                                         
                                              <label for="id_color">Please choose a color:</label>
                                
                                 <select name="color" id="id_color">

                                {% for color in pcolor %}
                                    
                                        
                                          
                                            <option value={{color}}>{{color}}</option>
                                         
                                             

                                        
                                {% endfor %}
                               
       
     <script type="text/javascript">

var previous = "initial prev value";
var newvalue
$("#id_color").live('click', function () {
        //update previous value
        previous = $(this).val();
    }).change(function() {
        alert('old value:'+previous); //I have previous value 
        newvalue=$(this).val();
        alert('new selected:'+newvalue);
        $.post('/ajax/', {color:newvalue}, function(data) {
          alert(data['foo']);
       
         });
    });

       </script>


                              </div>
                            </div>


                                 <input type="submit" value="add to cart" class="btn btn-primary">
                            </form>
                          </div>
                
<select id="select1">
             <option value="joshua">joshua</option>
             <option value="peter">peter</option>

</select>
       
     <script type="text/javascript">

var previous = "initial prev value";
var newvalue
$("select1").live('click', function () {
        //update previous value
        previous = $(this).val();
    }).change(function() {
        alert('old value:'+previous); //I have previous value 
        newvalue=$(this).val();
        alert('new selected:'+newvalue);
        $.post('/ajax/', {color:newvalue}, function(data) {
          alert(data['foo']);
       
         });
    });

       </script>
       
         
{% endblock %}
 
