<!doctype html>
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>     
</head>
<body>
 


<div class="container" >
    <div class="row" style="margin-top: 1%; margin-left:2%;margin-bottom:2%;">
         
            {% with totail_items=cart|length %}
            <div class="text-right">
                {% if cart|length > 0 %}
                 <button class="btn btn-info pull-right">
               
                    My Shopping Order:
                    {{ totail_items }} item{{ totail_items|pluralize }}, $ {{ cart.get_total_price }}

                </button>
                    
            
             <a href="{% url 'cart:cart_detail' %}" class="btn btn-primary">View Cart</a> <a href="{% url 'pages:product_list' %}" class="btn btn-primary">Back To List</a>
   
                    {% else %}
                    <button class="btn btn-info pull-right">
                    Your cart is empty.
                  </button>
            </div>
                {% endif %}
            {% endwith %}
        
    </div>
</div>



<div class='row' style='margin-left: 6%'>
                <div class="card" class="col-md-6 text-right">
                    <div class="card-body">
                        <div >
                            <image src="/media/{{product.pic}}" class="d-block w-100" width=336 height=420 alt="..."></image>
                          <div><br>
                            <P class="text-muted">Product Name: {{ product.p_name}}</P>
                            <P class="text-muted">Product Code: {{ product.p_code}}
                            Product Price: {{ product.p_price}}</P>
                          </div>
                            
                        </div>                
                    </div>

                </div>
         
                <div class="col-md-6" style="padding-right: : 20px">
                   <h5> <div>{{ product.p_name }}</div>
                    <div id='slevel'></div></h5><br>
                    <div style='border:dotted grey; padding-left:3%; padding-top:2%;padding-bottom:2%'>{{ product.description|safe|linebreaksbr }}</div><br>
                    
                                <form action="{% url 'cart:cart_add' product.id %}" method="post" style='border:dotted grey; padding-left:3%; padding-top:1%;padding-bottom:2%'>
                                {% csrf_token %}
                                {% for field in cart_product_form %}
                                  <div class="form_group">
                                        <div class="col-sm-offset-2 col-sm-10" >
                                          <span class="text-danger small">{{field.errors}}</span>
                                        </div>
                                         
                                              {{field.label_tag}}
                                         
                                               {{field}}
                                          
                                           {% endfor %}

                                         
                                              <label for="id_colorlabel">Please choose a color:</label>
                                
                                             <select name="color" id="id_color">

                                            {% for color in pcolor %}                          
                                          
                                               <option value="{{color}}">{{color}}
                                               </option>
                                                                          
                                             {% endfor %}
                                     </div>
                                  </div>


                                <input type="submit" id='Button' value="add to cart" class="btn btn-primary" style='margin-left: 3%'>
                            </form>
                    </div>
<script type="text/javascript">
var previous = "initial prev value";
var newvalue 

$( document ).ready(function() {
        //alert("hi roy") 
        color=$("#id_color option:selected").html();
        size=$("#id_size").val();
        qty=$("#id_quantity").val();

       //alert('new selected color:'+color);
       $.post('/ajax/', {pcode:"{{ product.p_code }}",color:color,size:size,quantity:qty}, function(data) {
        //  alert(data['color']);
        //  alert(data['size']);
        //  alert(data['quantity']);
        //  alert(data['pcode']);    
        //  alert(data['stock']);  
          $("#slevel").text('Current Stock Level:'+(data['stock']));  
          if (data['stock']==0)
             {//alert('stock level:'+(data['stock']));
             document.getElementById("Button").disabled = true;
             document.getElementById("Button").value = 'No Stock';
           }
         });
});

</script> 

<script type="text/javascript">
var previous = "initial prev value";
var newvalue 

$("select").live('click', function () {
        
        previous = $(this).val();
    }).change(function() {
      //alert('product:'+'{{ product.p_code }}');
       // alert('old value:'+previous); //I have previous value 
        newvalue=$(this).val();
        color=$("#id_color option:selected").html();
        size=$("#id_size").val();
        qty=$("#id_quantity").val();

       //alert('new selected color:'+color);
       
        
        $.post('/ajax/', {pcode:"{{ product.p_code }}",color:color,size:size,quantity:qty}, function(data) {
         // alert(data['color']);
        //  alert(data['size']);
        //  alert(data['quantity']);
        //  alert(data['pcode']);    
        //  alert(data['stock']);  
          $("#slevel").text('Current Stock Level:'+(data['stock']));  
          if (data['stock']==0)
             {
             // alert('stock level:'+(data['stock']));
             document.getElementById("Button").disabled = true;
             document.getElementById("Button").value = 'No Stock';
              }
          else
              {
                document.getElementById("Button").disabled = false;
                document.getElementById("Button").value = 'Add to Cart';


              }
             

         });
    });
</script> 

   
      </body>
    </html>
