<html>
<head>
<meta charset="UTF-8">
<title>Delete Movie</title>
</head>
<body>

{%if request.user.is_authenticated and request.user.username == creator %}



<h1>Delete {{ movie.first_name }}?</h1>


<form method="POST" action="">
{% csrf_token %}
Are you sure you want to delete this post? 
<input type="submit" value="Yes"/>
<a href="/Blog/{{ musician.id }}/">Cancel </a>
</form>
{% endif %}

{%if request.user.username != creator %}
<h1>You cannot delete this entry</h1>
{% endif %}
</body>
</html>
