{% extends 'base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Thank You For Shopping With Us
                </h3>
                {% if order.id %}
                <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
                {% else %}
                <p>  <strong>oops! The stock has run out.</strong> Can you please call for back order?</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
